@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: 15px;
}
body{
    background-color: #2a2827;
    color: #faed27;
}

/* HEADER */
header{
    height: 17vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #faed27;
}
.logo1{
    position: relative;
    width: 200px;
    height: 50px;
    top: 40px;
    left: 50px;
}
.logo{
    position: relative;
    width: 200px;
    height: 50px;
}

/*Search*/

form{
    position: relative;
    width: 35%;
    margin-left: 6%;
    margin-top: 0.3%;
}
.input{
    position: relative;
    background: transparent;
    width: 35vw;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #faed27;
    border-radius: 5px;
    outline: none;
    background: #2a2827;
    color: #9E9C9C;
    top: 40px;
    margin-left: 100px;
}
form .button{
    position: absolute; 
    top: 40px;
    right: 0px;
    left: 612px;
    width: 42px;
    height: 42px;
    border: none;
    background: #faed27;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
form .button img{
    position: absolute;
    top: 6px;
    right: 7px;
}
/*Close search*/
.log_in{
    position: relative;
    width: 70px;
    height: 70px;
    left: 410px;
    top: 30px;
}
.prof{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* Burger Menu */

.header__nav {
	display: block;
	position: absolute;
    background: #2d2b2b;
    box-shadow: #ccc;
    width: 11%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease-in-out;
    left: -12%;
    top: 17vh;
    z-index: 3;
}
.header__menu {
	display: block;
    border-top: 1px #faed27 solid;
    border-bottom: 1px #faed27 solid;
    height: 120vh;
    max-height: 250vh;
}
.header__nav.open-menu{
    left:0;
}
.header__menu li {
	list-style: none;
	margin: 45px 0px 0px 26px;
	color: #faed27;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	}
    .menu__item{
        color: #faed27;
    }
.menu-burger__header {
	position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 50px;
    top: 6vh;
   }
   .menu-burger__header:hover{
       cursor: pointer;
   }
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 40px;
	position: absolute;
	background: #a8acad;
	left: 0px;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}
.fixed-pade {
    overflow: hidden;
}
.menu__item ul {
    margin: 0;
    margin-left: -20px;
    list-style: none;
    display: none;
  }
.menu__item .title {
    font-size: 16px;
    cursor: pointer;
  }
  .open ul {
    display: block;
    width: 100%;
  }
  .open ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  .blue{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #05d9e8;
    box-shadow: 0px 0px 6px 3px #05d9e8;
    z-index: 4;
}
.blue:hover{
    cursor: pointer;
    animation: phon 2s ease-in-out infinite;
}
@keyframes phon {
       from{
          box-shadow: 0px 0px 10px 5px #05d9e8;
       } 
       50%{
          box-shadow: 0px 0px 6px 3px #05d9e8;
       }
       to{
          box-shadow: 0px 0px 10px 5px #05d9e8;
       }
  }
  .purple{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ba45f0;
    box-shadow: 0px 0px 6px 3px #ba45f0;
    z-index: 4;
}
.purple:hover{
    cursor: pointer;
    animation: phon1 2s ease-in-out infinite;
}
@keyframes phon1 {
       from{
         box-shadow: 0px 0px 6px 3px #ba45f0;
       } 
       50%{
        box-shadow: 0px 0px 10px 5px #ba45f0;
       }
       to{
        box-shadow: 0px 0px 6px 3px #ba45f0;
       }
  }
  .yellow{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #faed27;
    box-shadow: 0px 0px 6px 3px #faed27;
    z-index: 4;
}
.yellow:hover{
    cursor: pointer;
    animation: phon2 2s ease-in-out infinite;
}
@keyframes phon2 {
       from{
          box-shadow: 0px 0px 6px 3px #faed27;
       } 
       50%{
          box-shadow: 0px 0px 10px 5px #faed27;
       }
       to{
          box-shadow: 0px 0px 6px 3px #faed27;
       }
  }
  .pink{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe019a;
    box-shadow: 0px 0px 6px 3px #fe019a;
    z-index: 4;
}
.pink:hover{
    cursor: pointer;
    animation: phon3 2s ease-in-out infinite;
}
@keyframes phon3 {
       from{
          box-shadow: 0px 0px 6px 3px #fe019a;
       } 
       50%{
          box-shadow: 0px 0px 10px 5px #fe019a;
       }
       to{
          box-shadow: 0px 0px 6px 3px #fe019a;
       }
  }
/* Close Burger Menu */
/* CLOSE HEADER */

/* Section a */
/* Slider and block a*/

div#carousel { 
    perspective: 1500px; 
    background: #2a2827; 
    padding-top: 2%; 
    font-size:0; 
    margin-top: 5%;
    overflow: hidden; 
    height: 100%; 
    z-index: 0;
  }
  div#carousel h1{
      font-size: 22px;
      color: #faed27;
      text-align: center;
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 38vh; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner video { 
    width: 420px;
    position: absolute; 
    left: 33%;
    top: -17%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner video:nth-child(1) { transform:rotateY(0deg); 
}
  figure#spinner video:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner video:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner video:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner video:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner video:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner video:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner video:nth-child(8){ transform: rotateY(-315deg); }
  .ss-icon-1{
    position: absolute;
    top: 320px;
    left: 205px;
    font-size: 2.5rem; 
    color: white;
}  
.ss-icon{
    position: absolute;
    top: 320px;
    right: 260px;
    font-size: 2.5rem; 
    color: white;
}
.ss-icon, .ss-icon-1:hover{
    cursor: pointer; 
}
  div#carousel ~ span { 
    transition: 0.6s color; 
}
  div#carousel ~ span:hover { 
      color: #888; 
      cursor: pointer; 
    }
/* Close Slider */
/* close section a*/

/* Section b*/
.b{
    position: relative;
    margin-top: -50px;
    margin-bottom: 30px;
    background-image: url(/pictures/Фон\ для\ блокayellow.png);
    background-size: cover;
    height: 120px;
    z-index: 2;
}
/* close section b*/

/* Video section */
.video_section{
    background-image: url(/pictures/background\ video1yellow.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    min-width: 500px;
    max-width: 1400px;
}
.container .video{
    width: 400px;
    margin-right: 60px;
    margin-bottom: 30px;
}
.container .video video{
    width: 400px;
    height: 250px;
    margin-left: 70px;
}
.container .video div{
    display: flex;
    flex-direction: row;
}
.container img{
    position: relative;
    left: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container h1{
    position: relative;
    margin-top: 10px;
    margin-left: 5.7vw;
    font-size: 20px;
    color: white;
}
/* close video section */

/* more info */
.info{
    width: 130vh;
    height: 27vh;
    border: 1px solid #faed27;
    margin: 50px auto;
    box-shadow: 1px 1px 10px 5px #faed27; 
    transition: 300ms;
}
.info h1{
    margin-top: 5px;
    font-size: 22px;
    color: white;
    text-align: center;
}
.info ul{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.info ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    height: 5.4vh;
    margin-bottom: 10px;
    margin-left: 1%;
    background-color: #353333;
    transition: 300ms;
    color: white;
}
.info ul li p{
    margin: 10px 10px;
    font-size: 18px;
}
.info ul li button{
    background: transparent;
    border: none;
    font-size: 38px;
    height: 5.5vh;
    color: white;
    margin-right: 10px;
    transition: 500ms;
}
.info ul li button:hover{
    cursor: pointer;
}
#close{
    background: transparent;
    border: none;
    font-size: 38px;
    height: 5.5vh;
    color: white;
    margin-right: 10px;
    display: none;
}
#close2{
    background: transparent;
    border: none;
    font-size: 38px;
    height: 5.5vh;
    color: white;
    margin-right: 10px;
    display: none;
}
#close3{
    background: transparent;
    border: none;
    font-size: 38px;
    height: 5.5vh;
    color: white;
    margin-right: 10px;
    display: none;
}
#close:hover{
    cursor: pointer;
}
#close2:hover{
    cursor: pointer;
}
#close3:hover{
    cursor: pointer;
}
#magic_txt{
    display: none;
    position: absolute;
    width: 127.4vh;
    padding-left: 10px;
    margin-top: 40px;
    font-size: 18px;
    padding-top: 10px;
    border-top: 2px solid #2a2827;
}
#magic_txt2{
    display: none;
    position: absolute;
    width: 127.4vh;
    padding-left: 10px;
    margin-top: 40px;
    font-size: 18px;
    padding-top: 10px;
    border-top: 2px solid #2a2827;
}
#magic_txt3{
    display: none;
    position: absolute;
    width: 127.4vh;
    padding-left: 10px;
    margin-top: 40px;
    font-size: 18px;
    padding-top: 10px;
    border-top: 2px solid #2a2827;
}
.box_animate_1 {
    animation: 1s animate forwards;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(315deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }
  
  .box_animate_2 {
    animation: 1s animate_2 forwards;
  }
  
  @keyframes animate_2 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* close more info */

.on_more_videos{
    width: 96%;
    margin-left: 50px;
}

/* more videos*/
.more_videos{
    width: 150vh;
    height: 25vh;
    border: 1px solid #faed27;
    margin: 50px auto;
    box-shadow: 1px 1px 10px 5px #bc13fe; 
    transition: 300ms;
}
.more_videos h1{
    color: white;
    text-align: center;
    font-size: 34px;
    margin-top: 20px;
}
.more_videos button{
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    width: 280px;
    height: 55px;
    font-size: 16px;
    border: none;
    transition: 300ms;
    border: 1px solid #bc13fe;
    color: #bc13fe;
    z-index: 1;
    background: transparent;
    margin-top: 30px;
    margin-left: 450px;
}
.more_videos button::selection {
    border-color: #bc13fe;
    color: white;
  }
  
  .more_videos button:focus {
    outline: none;
  }
  @keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 .1rem #bc13fe,
            inset 0 0 .1rem #bc13fe,
            0 0 .1rem #bc13fe,
            inset 0 0 .1rem #bc13fe;        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
.more_videos button:hover{
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
}
/*close more videos*/

.on_footer{
    width: 100%;
}

/* FOOTER */
footer{
    height: 21vh;
}
footer ul{
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #353333;
    width: 39vh;
}
footer ul li{
    font-size: 18px;
    margin-top: 5px;
    color: white;
}
footer ul li a{
    font-size: 18px;
    color: #faed27;
}
.next_ul_footer{
    width: 42vh;
}
footer div{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin-top: -120px;
    margin-left: 550px;
}
footer div a svg{
    transition: 300ms ease-in-out;
}
footer div a:hover > svg{
    transform: scale(1.1);
    transform: scale(1.1);
}
footer img{
    position: absolute;
    right: 50px;
    margin-top: -150px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #faed27;
}
/*close FOOTER*/

.error{
    margin: 0 auto;
    margin-bottom: 5vw;
    font-size: 2vw;
}