@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ba45f0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    background-color: #2a2827;
}
/*Open header*/

header{
    width: 100%;
    height: 100px;
    background-color: #2d2b2b;
    border-bottom: 1px solid #ba45f0;
}
.logo{
    position: relative;
    width: 185px;
    height: 45px;
    top: 33px;
    left: 70px;
}
.logout{
    position: absolute;
    top: 20px;
    right: 50px;
}
.logout{
    position: absolute;
    top: 20px;
    right: 50px;
}
.input {
    position: relative;
    background: transparent;
    width: 35vw;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #ba45f0;
    border-radius: 5px;
    outline: none;
    background: #2a2827;
    color: #9E9C9C;
    top: -17px;
    margin-left: 506px;
}
form .button {
    position: absolute;
    top: 33px;
    right: 0px;
    left: 1000px;
    width: 42px;
    height: 44px;
    border: none;
    background: #ba45f0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/*Close header*/
.result{
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 20px;
    font-size: 23px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    min-width: 500px;
    max-width: 1400px;
}
.container .video{
    width: 400px;
    margin-right: 60px;
    margin-bottom: 30px;
}
.container .video video{
    width: 400px;
    height: 250px;
    margin-left: 70px;
}
.container .video div{
    display: flex;
    flex-direction: row;
}
.container img{
    position: relative;
    left: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container h1{
    position: relative;
    margin-top: 0px;
    margin-left: 5.7vw;
    font-size: 20px;
    color: white;
}
.container h2{
    position: relative;
    margin-top: -30px;
    margin-left: 9vw;
    font-size: 20px;
    color: #ba45f0;
}
.error{
    margin-left: 5vw;
    font-size: 2vw;
}