@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #ba45f0;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: 15px;
}
body{
    background-color: #f4f4f4; 
}
.bodu_ul{
    margin: 20vh auto 0;
    background-color: black;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
}
.top{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bc13fe;
}
.logo{
    text-align: center;
    width: 200px;
    height: 50px;
}
.two_button{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.two_button_first_li{
    margin-right: 16px;
}
.two_button_first_li a{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.two_button_second_li a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    transition: 0.2s;
}
.bottom{
    padding: 20px;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    margin: 7px 0;
}
form div input{
    width: 280px;
    height: 30px;
    border: 1px solid #bc13fe;
    background: transparent;
}
input[type=file]{
    opacity: 0;
	filter: alpha(opacity=0);
    z-index: 2;
}
.button_file_2{
    position: relative;
    margin-top: -48px;
    height: 30px;
    width: 280px;
    z-index: 0;
    background: transparent;
    border: 1px solid #bc13fe;
}
.button_file:hover{
    transform: scale(1.1);
    cursor: pointer;
}
:root {  
    --neon-text-color: #bc13fe;
    --neon-border-color: #bc13fe;
  }
.enter{
    font-size: 13rem;
    font-weight: 200;
    font-style: italic;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    width: 150px;
    height: 35px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    border: none;
    transition: 300ms;
    border: 1px solid #bc13fe;
    color: #bc13fe;
    z-index: 1;
    background: transparent;
}
.enter::selection {
    border-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .enter:focus {
    outline: none;
  }
  @keyframes flicker {
    
    0%, 19%, 21%, 25%, 54%, 56%, 100% {
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 .1rem var(--neon-border-color),
            inset 0 0 .1rem var(--neon-border-color),
            0 0 .1rem var(--neon-border-color),
            inset 0 0 .1rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
.enter:hover{
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
}
.go_back{
    width: 150px;
    height: 35px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    background: #bc13fe;
    box-shadow: 0px 5px #a23ca6, 0px 10px 10px rgba(0,0,0,0.25);
    border: none;
    border-radius: 5px;
    transition: 300ms;
    border: 1px solid #bc13fe;
    color: black;
    z-index: 2;
    position: relative;
    margin-top: 10px; 
}
.go_back:hover{
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
}